.main-container{
    margin-top: 94px;
    text-align: center;
    font-weight: 600;
    color: black;

    .adress_box{
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: aliceblue;
    }
}
