.gallery-title {
    margin-top: 95px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
}

.vertical-gallery {
    width: 100%;
    max-width: 95VW; // fixed width for gallery
    margin: 0 auto; // center align
    overflow-y: auto;
    padding-right: 8px; // spacing for scrollbar
}

.gallery-item {
    margin-bottom: 20px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }
    }
}